cython==0.29.28
dimod==0.12.1
numpy==1.19.0;python_version<"3.9"  # C API for numpy.random
oldest-supported-numpy;python_version>="3.9"
reno==3.3.0  # for changelog
setuptools>=46.4.0  # to support setup.cfg getting __version__
networkx==2.6.3
